#purchase-page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
  height: calc(100vh - 250px);
  width: 100%;
  column-gap: 20px;
}

#item-grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
  border-right: 1px solid gray;
}

#purchase-page-container h1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 5px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  padding: 10px;
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  transition: 0.2s;
}

.grid-item,
.grid-item *,
.receipt-item,
.receipt-item * {
  user-select: none;
}

.grid-item:hover {
  background-color: rgb(76, 76, 76);
  cursor: pointer;
  scale: 1.05;
}

.grid-item:hover .product-name {
  color: cyan;
}

.grid-item img {
  height: 150px;
  width: 150px;

  border-radius: 30px;
  max-width: 100%;
  object-fit: fill;
}

.product-name {
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-align: center;
}

.product-price {
  font-size: 0.9em;
  font-weight: 300;
  color: white;
  text-align: center;
}

/* RECEIPTS */

#receipt-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

#receipt-items-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;
}

#receipt-header {
  background: none;
  font-weight: 500;
}

.receipt-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: rgb(56, 56, 56);
  border-radius: 5px;
  transition: 0.2s;
}

.receipt-item:not(:first-child):hover {
  background-color: rgb(76, 76, 76);
  cursor: pointer;
  color: rgb(255, 129, 129);
  transform: scale(1.01);
}

#total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 67px;
}

.total-price-text {
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons in the receipts container */

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
}

.buttons-container button {
  width: 80px;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: rgb(0, 255, 0);
  background: rgb(71, 71, 71);
  transition: 0.3s ease;
}

.buttons-container button:hover {
  scale: 1.05;
  cursor: pointer;
}
