.link-no-underline {
  text-decoration: none;
}

#to-calendar-button {
  text-align: center;
  border-radius: 0px;
  border: 1px solid gray;
  font-family: Barlow, sans-serif;
  color: cyan;
  background-color: #858585;
  width: 10em;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 1.1em;
  font-weight: 300;
}

#to-calendar-button:hover {
  background-color: teal;
  cursor: pointer;
  color: cyan;
}

#to-calendar-button p {
  color: cyan;
  text-decoration: none;
}

#my-page-container h1 {
  margin-left: 0;
  border-left: 2px solid cyan;
  padding-bottom: 10px;
  padding-left: 20px;
}
