.Sidebar {
  color: rgb(0, 0, 0);
  z-index: 1;
  height: 100vh;
  width: 250px;
  transform: translateY(-10px);
  background-color: #242424;
  position: sticky;
  top: 0;
  transition: width 0.2s ease-in-out;
  border-right: 2px solid rgb(110, 110, 110);
}

.SidebarList {
  height: 100%;
  width: 100%;
  padding: 20px 0 0 0;
  margin: 10px 0 100px 0;
}

#sidebar-logo {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: 1fr 2fr;
  height: fit-content;
  scale: 1;
  width: fit-content;
  translate: 0px 0px;
  border-bottom: 2px solid rgb(73, 73, 73);
  padding-bottom: 20px;
  max-width: 100%;
}

#sidebar-logo p {
  margin-left: 20px;
}

#sidebar-logo img {
  height: 50px;
  width: 50px;
  margin-left: 0px;
  translate: -11px 0px;
  filter: hue-rotate(180deg) saturate(4);
}

.SidebarList a {
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  grid-template-columns: 1fr 2fr;
  text-decoration: none;
  height: 60px;
}

.SidebarList .row {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  height: 27px;
  justify-content: space-between;
  align-items: center;
}

.SidebarList .row-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 25px;
  color: rgb(255, 255, 255);
}

.SidebarList .row-title {
  font-size: 1.1em;
  font-weight: 300;
  color: rgb(255, 255, 255);
  opacity: 0; /* Make the text initially transparent */
  animation: fadeIn 0.5s forwards; /* Animation to fade in the text */
  animation-delay: 0.1s; /* Delay equal to the sidebar animation duration */
  white-space: nowrap;
}

.Sidebar .row:hover {
  cursor: pointer;
  color: #3828c7;
}

.Sidebar .active .row-icon {
  color: #28bcc7;
  border-left: 3px solid #28bcc7;
  padding-left: 22px;
}

.Sidebar .active .row-title {
  color: #28bcc7;
  font-weight: bold;
}

.Sidebar .Hidden {
  display: none;
}

#sidebar-login,
#sidebar-signout {
  position: absolute;
  bottom: 0;
}

.row:hover {
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
