.double-button-holder {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.double-button-holder button {
    border-radius: 0px;
}

#cancel-button {
    background-color: rgb(255, 88, 88);
}

#cancel-button:hover {
    background-color: rgb(255, 0, 0);
}