.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-title {
  text-align: left;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login-error {
  color: rgb(255, 0, 0);
  text-align: center;
  margin-bottom: 10px;
  animation: forwards error 0.2s;
}

@keyframes error {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.login-form {
  width: 350px;
  padding: 20px;
  background: rgb(31, 31, 31);
  border-radius: 10px;
  border: 2px solid rgba(0, 255, 255, 0.171);
  box-shadow: 0px 0px 40px rgba(0, 255, 255, 0.384);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-doubleholder {
  display: flex;
  justify-content: space-between;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.login-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form a {
  padding-top: 20px;
  text-decoration: none;
  color: #00ffff;
  text-align: center;
  display: block;
  margin-top: 10px;
}

.login-form a:hover {
  color: #008888;
}

.login-btn:hover {
  background-color: rgb(0, 255, 242);
  box-shadow: 0px 0px 20px rgba(0, 247, 255, 0.467);
  color: black;
}
