/* Rest of your existing styles */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/background-image.jpg");
  background-color: rgb(66, 66, 66);
  background-size: auto 140%;
  background-position: 39.5% center;
  background-repeat: no-repeat;
  filter: saturate(0.7) brightness(0.7) hue-rotate(320deg);
  z-index: -1; /* Keep the background behind the content */
}

#root {
  font-family: Barlow, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
}
