.app-layout {
  padding: 0;
  width: 100vw;
}

#header {
  width: 800px;
}

main {
  position: absolute;
  height: calc(95vh - 75px);
  width: calc(100vw - 275px);
  text-align: left;
  top: 2em;
  z-index: 0;
  margin-left: calc(100px);
  background-color: #242424;
  border-radius: 10px;
  border: 2px solid rgb(110, 110, 110);
  overflow: auto;
  padding: 20px 70px;
}

.page-conten {
  overflow: hidden;
}

.hidden-background {
  background: none;
  border: none;
  box-shadow: none;
}

main h1 {
  margin-left: 20px;
  font-weight: 300;
}
